/* your styles go here */
.navbar-brand h1, .navbar-brand span {font-size: 3.0rem;font-weight: bold;color: #333;}
.xcblog-blog-list .item {margin-bottom: 1.5rem;}
.xcblog-blog-list .item h3 {font-size: 2rem;}

.xcblog-blog-detail.xcblog-blog-detail-defined p {font-size: 1.5rem;line-height: 2.2rem;}
.xcblog-blog-detail.xcblog-blog-detail-defined h2 {font-size: 2.5rem;}
.xcblog-blog-detail.xcblog-blog-detail-defined h3 {font-size: 2.0rem;}