/* your styles go here */
.navbar-brand h1, .navbar-brand span {font-size: 3.0rem;font-weight: bold;color: #333;}
.xcblog-blog-list .item {margin-bottom: 1.5rem;}
.xcblog-blog-list .item h3 {font-size: 2rem;}